---
apiVersion: v1
kind: Pod
metadata:
  name: gatherer-COMMON_NAME
  namespace: TEST_NAMESPACE
spec:
  restartPolicy: Never
  tolerations:
    - key: node-role.kubernetes.io/master
      effect: NoSchedule
  containers:
    - command:
        - /bin/bash
        - -c
        - sleep infinity
      name: gatherer
      imagePullPolicy: Always
      image: IMAGE
      volumeMounts:
        - mountPath: POD_REPORT_DIR
          name: results-COMMON_NAME
  volumes:
    - name: results-COMMON_NAME
      persistentVolumeClaim:
        claimName: results-COMMON_NAME
