apiVersion: kaas.mirantis.com/v1alpha1
kind: RHELLicenseList
items:
- apiVersion: kaas.mirantis.com/v1alpha1
  kind: RHELLicense
  metadata:
    name: kaas-mgmt-rhel-license
  spec:
    username: SET_USERNAME
    password:
      value: SET_PASSWORD
    #activationKey:
    #  value: SET_ACTIVATION_KEY
    #orgID: SET_ORG_ID
    #rpmUrl: SET_SATELLITE_RPM_URL
    poolIDs:
    - SET_POOL_ID_0
    - SET_POOL_ID_1
