---
apiVersion: kaas.mirantis.com/v1alpha1
kind: EquinixMetalCredential
metadata:
  name: cloud-config
  labels:
    kaas.mirantis.com/region: region-one
    kaas.mirantis.com/regional-credential: "true"
spec:
  projectID: SET_EQUINIX_PROJECT_ID
  apiToken:
    value: SET_EQUINIX_USER_API_TOKEN
